* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
  color: var(--black);

}

:root {
  --darkblue : #11175E;
  --lightblue : #027DC2;
  --darkblue-transparent : #11175EA0;
  --lightblue-transparent : #027DC2A0;
  --orange : #F7971D;
  --verylightblue :  #91b0c2;
  --white : #FFFFFF;
  --black : #303030;
  --gray : #C3C3C3;

}

@page {
  margin: 0;
  size: A4;
}

@media print {
  body {
    background-color: var(--white);
  }
  .page {
  margin:0 !important;
  width: 100% !important;  
  }

  /* header, main, footer {
    border:solid 2px red;
  } */
}



h1 {
  font-size: 2rem;
}


h2 {
  font-size: 1.5rem;
  margin-bottom: .75rem;
}



* + h2 {
  margin-top: .75rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: .25rem;
}

* + h3 {
  margin-top: .75rem;
}

p {
  text-align: justify;
}

*:not(p) + p, p:first-child {
  text-indent: 2rem;
}

p:not(:last-child) {
  margin-bottom: .5rem;
}

.column-layout {
  display: grid;
  grid-gap: 2rem;
  align-items: stretch;
}

.column-layout div > :last-child {
  margin-bottom: 0 !important;
}

.column-layout.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.column-layout.two-columns.auto-1fr {
  grid-template-columns: auto 1fr;
}

.column-layout.two-columns.ratio1-2 {
  grid-template-columns: 1fr 2fr;
}

.column-layout .v-center {
  align-self: center;
}

.column-layout .stretch {
  display: flex;
  flex-direction: column;
}

.row:not(:first-child) {
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
  line-height: 1.25;
  font-size: 80%;
}
